{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    {% for member in teachers %}
    <p>
        Välkommen till Kulturskolan i Älmhult!
        Vi erbjuder kurser i musik, dans, bild, teater, foto och slöjd för barn och ungdomar mellan 0-20 år som bor i Älmhults
        kommun.
        
        Anmälan till Kulturskolan hösten 2023
        Nu laddar vi för höstens kurssläpp! Fredagen den 16 juni klockan 12.00 kan ni anmäla er till höstens kurser på
        Kulturskolan. Anmälan görs via länken nedan.
    </p>
    <div class="row-fetaurette">
        <div class="col-md-7">
            <h3><a href="/about/{{ member.url }}"> {{ loop.index }}.{{  member.name }}</a></h3>
            <p>
                {{ member.description }}
            </p>
        </div>
    </div>
    <div class="row-featurette">
        <div class="col-md-5">
            <img src="https://www.icehotel.com/sites/cb_icehotel/files/styles/image_column_large/public/Icehotel-365-entrance-summer.jpg" alt="">
        </div>
    </div>
    {% endfor %}
{% endblock %}